.aboutTable {
    width: 50vw;
    border: 1px dashed purple;
    margin: 40px auto;
    padding: 20px 50px;
    border-radius: 6px;
    background-color: #DCCFED;
    line-height: 35px;
}

.infoAboutMe {
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
    text-decoration: underline;
    border-bottom: 1px solid gray;

}